<div class="row activity_main">
  <div class="main_contents">
    <%= image_tag "activities_2.png", class: "contents_main_icon", size: "200x200" %>
    <h1>Activities</h1>
  </div>
  <div class="col-md-12 col-lg-12 contents_menu">
    <a href="<%= product_path %>"><%= image_tag "products.png", class: "", size: "200x200" %></a>
    <a href="<%= activity_path %>"><%= image_tag "activities.png", class: "", size: "200x200" %></a>
  </div>




</div>
