<div class="container">
  <div class="row main">
    <div class="main_contents">
      <%= image_tag "cat_icon.jpg", class: "main_icon", size: "200x200" %>
      <h1>Hello, This page is Tsumi's Portfolio</h1>
    </div>
    <div class="about_me">
      <h1>About me</h1>
      <p>いろいろ自己紹介とか</p>
    </div>
    <ul class="col-md-12 col-lg-12 contents_menu">
      <li><a href="<%= love_path %>"><%= image_tag "love.png", class: "", size: "200x200" %></a></li>
      <li><a href="<%= product_path %>"><%= image_tag "products.png", class: "", size: "200x200" %></a></li>
      <li><a href="<%= activity_path %>"><%= image_tag "activities.png", class: "", size: "200x200" %></a></li>
    </ul>
    <!-- <div class="col-md-12 col-lg-12 contents_menu">
    <a href="<%= love_path %>"><%= image_tag "love.png", class: "", size: "200x200" %></a>
    <a href="<%= product_path %>"><%= image_tag "products.png", class: "", size: "200x200" %></a>
    <a href="<%= activity_path %>"><%= image_tag "activities.png", class: "", size: "200x200" %></a>
  </div> -->



</div>
</div>
