<div class="row product_main">
  <div class="main_contents">
    <%= image_tag "products_2.png", class: "contents_main_icon", size: "200x200" %>
    <h1>Products</h1>
  </div>
  <div class="col-md-12 col-lg-12 contents_box">
    <ul class="contents_list">
      <li><a href=""><%= image_tag "goodjob.png", class: "", size: "300x300" %><h3>あまいもの</h3></a></li>
      <li><a href=""><%= image_tag "goodjob.png", class: "", size: "300x300" %><h3>あまいもの</h3></a></li>
      <li><a href=""><%= image_tag "goodjob.png", class: "", size: "300x300" %><h3>あまいもの</h3></a></li>
      <li><a href=""><%= image_tag "goodjob.png", class: "", size: "300x300" %><h3>あまいもの</h3></a></li>
      <li><a href=""><%= image_tag "goodjob.png", class: "", size: "300x300" %><h3>あまいもの</h3></a></li>
      <li><a href=""><%= image_tag "goodjob.png", class: "", size: "300x300" %><h3>あまいもの</h3></a></li>
      <li><a href=""><%= image_tag "goodjob.png", class: "", size: "300x300" %><h3>あまいもの</h3></a></li>
    </ul>
  </div>



</div>
