<div class="row product_main">
  <div class="main_contents">
    <%= image_tag "products.png", class: "contents_main_icon", size: "200x200" %>
    <h1>Products</h1>
  </div>
  <div class="col-md-12 col-lg-12 contents_box">
    <section id="contents_box">
      <ul class="contents_list">
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Products name</h3>
                  <p>caption text here ...</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Products name</h3>
                  <p>caption text here ...</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Products name</h3>
                  <p>caption text here ...</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Products name</h3>
                  <p>caption text here ...</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Products name</h3>
                  <p>caption text here ...</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Products name</h3>
                  <p>caption text here ...</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Products name</h3>
                  <p>caption text here ...</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Products name</h3>
                  <p>caption text here ...</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
      </ul>
    </section>
  </div>








</div>
</div>

<script type="text/javascript">
/* Demo purposes only */
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);

</script>
