<div class="row product_main">
  <div class="main_contents">
    <%= image_tag "products.png", class: "contents_main_icon", size: "200x200" %>
    <h1>Products</h1>
  </div>
  <div class="col-md-12 col-lg-12 contents_box">
    <section id="contents_box">
      <ul class="contents_list">
        <li>
          <div class="">
            <a href="#">
              <figure>
                <%= image_tag "mikke.png", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>みっけ！</h3>
                  <p>スマートフォンに溜められている写真を <br>
                    ランダムに表示することで思い出を振り返るアプリ。 <br>
                    ゼミで初めて作ったアプリ。 <br>
                    <br>
                    制作：2015年4月〜 <br>
                    HTML, CSS, JavaScript, Cordova
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="products_contents">
            <a href="#">
              <figure>
                <%= image_tag "goodjob.png", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>Good job！</h3>
                  <p>どんな小さなことでも、自分を褒めてあげるべきだ。<br>
                     そんな思いから生まれたWebサービスです。 <br>
                     私が初めてRailsで作ったサービス。 <br>
                     <br>
                     制作：2016年8月 <br>
                     Ruby on Rails, Heroku
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="products_contents">
            <a href="#">
              <figure>
                <%= image_tag "aikotoba.png", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>逢言葉</h3>
                  <p>作業的にならずにひとつひとつの言葉と <br>
                     向き合えるアプリ。 <br>
                     ランダムで誰かから「ことば」が届きます。 <br>
                     <br>
                     制作：2016年4月〜 <br>
                     HTNL, CSS, JavaScript, Cordova, <br>
                     NiftyCloudMobileBackend
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="products_contents">
            <a href="#">
              <figure>
                <%= image_tag "workrecord.png", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>勤怠管理サービス（仮）</h3>
                  <p>ボタンを押すだけで記録完了！ <br>
                     勤怠管理ができるWebサービスです。 <br>
                     現在製作中。 <br>
                     <br>
                     制作：2017年4月〜 <br>
                     Ruby on Rails
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="products_contents">
            <a href="#">
              <figure>
                <%= image_tag "noimage.png", class: "transform01", size: "400x300" %>
                <figcaption>
                  <h3>株式会社 Living OFTON. <br>コーポレートサイト（仮）</h3>
                  <p>完全にふざけているネタサイトです。 <br>
                     布団が好きすぎて頭のおかしいサイト作りたくなりました。 <br>
                     元ネタは<a href="https://twitter.com/LivingOFTON" class="ofton_twitter">@LivingOFTON</a>です。<br>
                     <br>
                     制作：2017年9月〜 <br>
                     Ruby on Rails, Heroku
                  </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div class="products_contents">
            <a href="#">
              <figure>
                <%= image_tag "neko.jpg", class: "transform01 neko", size: "400x300" %>
                <figcaption>
                  <h3>Comog Soon ...</h3>
                  <p></p>
                </figcaption>
              </figure>
            </a>
          </div>
        </li>
      </ul>
    </section>
  </div>








</div>
</div>

<script type="text/javascript">
/* Demo purposes only */
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);

</script>
